@media(max-width:750px) {

    /* header */
    .site_link {
        width: 140px;
        height: 40px;
    }

    .theme_change_button {
        width: 40px;
        height: 40px;
    }

    .moon {
        width: 18px;
        height: 18px;
    }

    /* section1*/

    .section_header {
        font-size: 24px;
    }

    .filter {
        font-size: 16px;
    }

    .all {
        width: 50px;
    }

    .active {
        width: 80px;
    }

    .inactive {
        width: 90px;
    }

    /* inner section */
    .ext_sections {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .article_header {
        font-size: 20px;
    }

    .remove {
        width: 80px;
        font-size: 14px;
    }
}